In [1]:
import pandas as pd
df = pd.read_csv('C:/vscode/data/iris.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth       Name  Species
0            5.1         3.5          1.4         0.2     setosa        0
1            4.9         3.0          1.4         0.2     setosa        0
2            4.7         3.2          1.3         0.2     setosa        0
3            4.6         3.1          1.5         0.2     setosa        0
4            5.0         3.6          1.4         0.2     setosa        0
..           ...         ...          ...         ...        ...      ...
145          6.7         3.0          5.2         2.3  virginica        2
146          6.3         2.5          5.0         1.9  virginica        2
147          6.5         3.0          5.2         2.0  virginica        2
148          6.2         3.4          5.4         2.3  virginica        2
149          5.9         3.0          5.1         1.8  virginica        2

[150 rows x 6 columns]

In [2]:
from sqlalchemy import create_engine
import cx_Oracle

engine = create_engine('oracle+cx_oracle://python:1234@xe')
conn = engine.connect()

df.to_sql(name='iris', con=engine, if_exists='replace', index=False)

150

In [3]:
import cx_Oracle
conn = cx_Oracle.connect("python/1234@localhost:1521/xe")

cursor = conn.cursor()                      
cursor.execute('select * from ontime where rownum < 5')

rows = cursor.fetchall()         
for row in rows:
    print(row)
    
cursor.close()  
conn.close()

(2007, 1, 1, 1, '915', 915, '1158', 1210, 'WN', '2574', 'N664WN', '103', '115', '94', '-12', '0', 'STL', 'BWI', '737', '3', '6', '0', None, '0', '0', '0', '0', '0', '0')
(2007, 1, 1, 1, '1936', 1930, '2159', 2155, 'WN', '1057', 'N742', '83', '85', '72', '4', '6', 'STL', 'CLE', '487', '5', '6', '0', None, '0', '0', '0', '0', '0', '0')
(2007, 1, 1, 1, '959', 1000, '1222', 1225, 'WN', '1477', 'N390SW', '83', '85', '70', '-3', '-1', 'STL', 'CLE', '487', '5', '8', '0', None, '0', '0', '0', '0', '0', '0')
(2007, 1, 1, 1, '1430', 1420, '1641', 1635, 'WN', '522', 'N444', '71', '75', '60', '6', '10', 'STL', 'CMH', '410', '4', '7', '0', None, '0', '0', '0', '0', '0', '0')

In [5]:
#항공사별 출발 지연 시간 평균(실행시간이 오래 걸림)
import cx_Oracle
conn = cx_Oracle.connect("python/1234@localhost:1521/xe")

cursor = conn.cursor()                      
cursor.execute('''select uniquecarrier, round(avg(depdelay),2)
from ontime
group by uniquecarrier''')    

rows = cursor.fetchall()         
for row in rows:
    print('{}\t{}'.format(row[0],row[1]))

cursor.close()
conn.close()

XE	11.58
UA	13.57
F9	7.38
NW	8.76
AA	14.3
FL	8.95
AQ	0.44
AS	10.56
OH	12.13
OO	8.11
CO	11.68
YV	11.86
HA	-0.88
WN	10.35
US	11.92
MQ	12.64
9E	8.83
EV	19.59
DL	7.75
B6	14.45

In [8]:
#시간대별( 10월, 월요일에 출발할 때 가장 좋은 시간대는? )
import cx_Oracle
conn = cx_Oracle.connect("python/1234@localhost:1521/xe")

cursor = conn.cursor()                      
cursor.execute('''

select *
from (
    select rownum as rn, A.*
    from (
        select CRSDepTime, avg(arrdelay) arrdelay
        from ontime
        where month=10  and dayofweek=1
        group by CRSDepTime
        order by arrdelay
    ) A
) where rn between 1 and 5
''')    

rows = cursor.fetchall()         
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 1924, -47)
(2, 2257, -32)
(3, 300, -29.4)
(4, 2244, -20)
(5, 1801, -18.6)

### mongodb

In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
#인증모드로 접속
conn=MongoClient('mongodb://web:1234@localhost/web')
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
db=conn.web
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web')

In [4]:
#컬렉션 생성
students=db.students
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web'), 'students')

In [7]:
#컬렉션에 저장된 모든 문서들을 제거
try:
    students.drop()
except:
    print('자료가 없습니다.')

In [8]:
#도큐먼트 생성
row1={'no':1, 'name':'김철수','kor':90,'eng':80,'mat':77}
row2={'no':2, 'name':'박민성','kor':95,'eng':83,'mat':76}
row3={'no':3, 'name':'송영희','kor':92,'eng':87,'mat':75}

#레코드 1개 추가
students.insert_one(row1)
students.insert_one(row2)
students.insert_one(row3)

#전체 문서 조회
rows=students.find()
for row in rows:  
    print(row)

{'_id': ObjectId('640e8ca2279ff6eaadf31776'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('640e8ca2279ff6eaadf31777'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('640e8ca2279ff6eaadf31778'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [9]:
#문서 개별 삭제
students.delete_one({'no':2})
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('640e8ca2279ff6eaadf31776'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('640e8ca2279ff6eaadf31778'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [10]:
#문서 수정
students.update_one({'no':1}, {'$set':{'kor':100,'eng':100}})

In [12]:
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('640e8ca2279ff6eaadf31776'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77}
{'_id': ObjectId('640e8ca2279ff6eaadf31778'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [13]:
#일괄 수정
rows=students.find()
for row in rows:
    tot=row['kor']+row['eng']+row['mat']
    avg=tot/3
    if avg>=90:
        grade='A'      
    elif 80<=avg<90:
        grade='B'
    elif 70<=avg<80:
        grade='C'      
    elif 60<=avg<70:
        grade='D'      
    else:
        grade='F'      
    students.update_one({'no':row['no']}, {'$set':{'tot':tot,'avg':avg,'grade':grade}})

rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('640e8ca2279ff6eaadf31776'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('640e8ca2279ff6eaadf31778'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}

In [14]:
rows=students.find()
print('학번\t이름\t국어\t영어\t수학\t총점\t평균\t등급')
print('='*60)
for row in rows:
    print(f"{row['no']}\t{row['name']}\t{row['kor']}\t{row['eng']}\t{row['mat']}\t{row['tot']}\t{row['avg']:.1f}\t{row['grade']}")

학번	이름	국어	영어	수학	총점	평균	등급
============================================================
1	김철수	100	100	77	277	92.3	A
3	송영희	92	87	75	254	84.7	B

In [15]:
print('조건 검색')
myrow=students.find({'no':3})
for field in myrow:
    print(field)

조건 검색
{'_id': ObjectId('640e8ca2279ff6eaadf31778'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}