In [1]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.39.3

In [7]:
# 테이블 생성
def create():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    # books 테이블 생성
    cursor.execute(
        '''
        create table if not exists books(
        title text,
        publish_date text,
        publisher text,
        pages integer,
        recommend integer
        )
        '''
    )
    conn.close()
create()

In [8]:
# 데이터 입력
def insert():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    # 1
    cursor.execute(
        "insert into books values ('Java', '2022-02-28', '길벗', 500, 10)"
    )
    # 2 튜플 이용해서 입력
    sql = 'insert into books values (?, ?, ?, ?, ?)'
    cursor.execute(sql, ('python', '2022-03-04', '한빛', 584, 20))
    # 3 튜플 리스트로 입력
    items = [
        ('빅데이터', '2021-07-02','삼성', 296, 11),
        ('안드로이드', '2021-02-10','영진', 526, 20),
        ('Spring', '2021-12-12','에이콘', 248, 15) 
    ]
    cursor.executemany(sql,items)    # 여러 데이터 입력
    conn.commit()   #레코드 변경사항 확정(추가, 수정, 삭제)
    conn.close()
insert()

In [9]:
# 리스트 출력
def list():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()                      
    cursor.execute('select * from books')
    books = cursor.fetchall()       #전체 레코드를 읽어서 리스트로 저장
    for book in books:              
        print(book)
    conn.close()                    
list()

('Java', '2022-02-28', '길벗', 500, 10)
('python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)

In [10]:
#데이터 수정
def update():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    # 데이터 수정 SQL
    sql = 'update books set recommend=? where title=?'
    # 수정 SQL 실행
    cursor.execute(sql, (100, 'Java'))
    conn.commit()                                 
    conn.close()          
update()
list()

('Java', '2022-02-28', '길벗', 500, 100)
('python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)

In [11]:
# 데이터 삭제
def delete():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()          
    # 데이터 삭제 SQL
    sql = "delete from books where publisher='삼성' "
    # 수정 SQL 실행
    cursor.execute(sql)
    conn.commit()                                 
    conn.close()                   
list()                         
delete()    
print('='*50)                
list()

('Java', '2022-02-28', '길벗', 500, 100)
('python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)
==================================================
('Java', '2022-02-28', '길벗', 500, 100)
('python', '2022-03-04', '한빛', 584, 20)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)